/* Import Google fonts */

/*Asterisk wildcar selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: palevioletred;
}

/* h stylings */
h1, h2, h3 {
     
}

/* Header */
header {
    background-color: palegoldenrod;
    
}

/* styling of nav bar */
.nav-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#nav-bar {

}

#nav-bar a:hover {
    text-transform: uppercase;
}

/* Styling for main info */

#main-info {
    background-color: paleturquoise;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;

}

.info-div {
       
}

/* Styling for links */

#links {
    background-color: palegreen;
}

/* Styling for links div */
.links-div {
    
       
}

/* Styling of a in links-div */
.links-div a {

}

/* GALLERY PAGE */

#ai-imgs img {
    width: 100%;
    line-height: 1em;
    
}

#ai-imgs {
    line-height: 0;
}

/* NEWSLETTER PAGE */

/* Styling Social Media links*/

footer {
    background-color: palegoldenrod;
}




